<div class="container card-area">
    <div class="cardM card-1">
        <div class="carousel">
            <div class="card" [ngClass]="{'active': currentIndex3 === 0}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number1}}</div>
                        <h3>{{header1}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content1}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex3 === 1}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number2}}</div>
                        <h3>{{header2}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content2}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex3 === 2}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number3}}</div>
                        <h3>{{header3}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content3}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex3 === 3}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number4}}</div>
                        <h3>{{header4}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content4}}</p>
                    </div>         
                </div>
            </div>
          </div>
    </div>
    <div class="cardM card-2">
        <div class="carousel">
            <div class="card" [ngClass]="{'active': currentIndex2 === 0}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number1}}</div>
                        <h3>{{header1}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content1}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex2 === 1}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number2}}</div>
                        <h3>{{header2}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content2}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex2 === 2}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number3}}</div>
                        <h3>{{header3}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content3}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex2 === 3}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number4}}</div>
                        <h3>{{header4}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content4}}</p>
                    </div>         
                </div>
            </div>
          </div>
    </div>
    <div class="cardM card-3">
        <div class="carousel">
            <div class="card" [ngClass]="{'active': currentIndex1 === 0}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number1}}</div>
                        <h3>{{header1}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content1}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex1 === 1}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number2}}</div>
                        <h3>{{header2}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content2}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex1 === 2}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number3}}</div>
                        <h3>{{header3}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content3}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex1 === 3}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number4}}</div>
                        <h3>{{header4}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content4}}</p>
                    </div>         
                </div>
            </div>
          </div>
    </div>
    <div class="cardM card-4">
        <div class="carousel carousel-1">
            <div class="card" [ngClass]="{'active': currentIndex === 0}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number1}}</div>
                        <h3>{{header1}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content1}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex === 1}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number2}}</div>
                        <h3>{{header2}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content2}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex === 2}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number3}}</div>
                        <h3>{{header3}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content3}}</p>
                    </div>         
                </div>
            </div>
            <div class="card" [ngClass]="{'active': currentIndex === 3}">
                <div class="card-content">
                    <div class="content-left">
                        <div class="number-div">{{number4}}</div>
                        <h3>{{header4}}</h3>
                    </div>
                    <div class="content-right">
                        <p>{{content4}}</p>
                    </div>         
                </div>
            </div>
            <div class="button button-1" (click)="moveLift()"><fa-icon [icon]="faChevronLeft "></fa-icon></div>
            <div class="button button-2" (click)="moveRight()"><fa-icon [icon]="faChevronRight "></fa-icon></div>
          </div>  
    </div>
    <div class="image-div">
            <img src="..\assets\girl.png" alt="image">
    </div>

</div>